ACTIVITY_MANAGER_CONTRACT_ADDRESS="hid1ts7sahjr2qx3z4yue60dfzcsp9axqdsgquecgcq68t2jtvcw3shq0q6dft"
REPUTATION_ENGINE_CONTRACT_ADDRESS="hid1qze4rhm9hm0wxwct66m8u3kh26ra6ehcf47ue7x9ql75efjztp9s5wd5cx"
OSMOSIS_ACTIVITY_CONTRACT_ADDRESS="hid1ckhkc5p57cfmejpap6m5nm3nyfl2cvz0gugy8ewnn4yps4xuagyqa0t4df"